.gototop-box{
  .ant-back-top-icon{
    background: url('../../../assets/images/gototop.png') 100% 100% no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 40px;
    height: 40px;
    margin: 0px 0;
  }
}