/*
 * myfiledesignpopbox.scss
 */

.ep-my-file-design-pb {
  .ant-modal-content {
    border-radius: 2px;
    .ant-modal-body {
      padding: 0px;
    }
  }
  .ep-my-file-design-pb-inner {
    height: 530px;

    .ep-head {
      height: 30px;
      padding-top: 12px;
      span {
        font-size: 14px;
        line-height: 14px;
        color: #7B7B7B;
      }
      .ep-head-close {
        top: 16px;
        right: 16px;
        width: 9px;
        height: 9px;
        background: url("../../../assets/images//user/icon_img_close.png") no-repeat;
        background-size: 9px 9px;
      }
    }

    .ep-head1 {
      height: 27px;
      padding-left: 38px;
      .ep-btns {
        height: 26px;
        .ep-btn {
          width: 120px;
          background: linear-gradient(0deg,rgba(233,233,233,1),rgba(255,255,255,1));
          border: 1px solid #D1D1D1;
          span {
            font-size: 14px;
            line-height: 14px;
            color: #7B7B7B;
          }
        }
        .ep-btn-active {
          background: linear-gradient(0deg,rgba(209,58,38,1),rgba(235,123,106,1));
          border: 1px solid #D13A26;
          span {
            color: #FFF;
          }
        }
        .ep-btn-others {
          border-bottom: 1px solid #D1D1D1;
          width: 404px;
        }
      }
    }

    .ep-body {
      height: 399px;
      margin-top: 18px;
      padding: 0px 0px 0px 38px;
      overflow-y: hidden;
      .ep-myfile-empty-icon {
        margin-top: 63px;
        width: 179px;
        height: 160px;
        background: url("../../../assets/images//user/myfile-empty.png") no-repeat;
        background-size: 179px 160px;
      }
      .ep-myfile-empty-txt {
        margin-top: 27px;
        span {
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
          color: #BCBCBC;
        }
      }

      .ep-upload-from-local, .ep-goto-design-online {
        width: 140px;
        height: 140px;
        border: 1px solid #BCBCBC;
        padding-top: 56px;
        margin-right: 30px;
        .ep-btn-icon {
          width: 20px;
          height: 20px;
        }
        .ep-btn-text {
          margin-top: 18px;
          span {
            font-size: 12px;
            font-weight: 400;
            color: #191919;
          }
        }
      }
      .ep-upload-from-local {
        .ep-btn-icon {
          width: 20px;
          height: 20px;
          background: url("../../../assets/images//user/my_file_local_add.png");
          background-repeat: no-repeat;
          background-size: 20px 20px;
        }
      }
      .ep-goto-design-online {
        .ep-btn-icon {
          width: 20px;
          height: 20px;
          background: url("../../../assets/images//user/my_file_design_online.png");
          background-repeat: no-repeat;
          background-size: 20px 20px;
        }
      }
      .ep-upload-from-local:hover, .ep-goto-design-online:hover {
        border: 1px solid #D13A26;
      }
    }
    .ep-body-void {
      padding: 0px;
    }

    .ep-foot {
      height: 42px;
      padding: 0px 38px;
      margin-top: 5px;
      .ep-foot-submit {
        padding: 0px 42px;
        background-color: #D13A26;
        border-radius: 2px;
        height: 34px;
        span {
          font-size: 14px;
          line-height: 14px;
          color: #FFF;
        }
      }
      .ep-foot-submit-inactive {
        background-color: #BCBCBC;
      }
    }
  }
}
