.recommendGoods {
  .title {
    height: 38px;
    background: $bgColor;
    border: 1px solid $borColor;
    line-height: 38px;
    padding: 0 23px;
    font-size: $fontSize2;
    color: $txtColor3;
    margin-bottom: 25px;
  }
}
