.specifications {
  display: flex;

  span {
    border: 1px solid $borColor;
    padding: 2px;
    margin: 0 10px 10px 0;
    position: relative;
    cursor: pointer;
    &.act{
        border-color: $mainColor;
    }
  }


}
