/*
 * listtabledetail.scss
 */

.ep-preflight-report-icon1 {
  width: 14px;
  height: 14px;
  background: url("../../../../../assets/images/seller/preflight-report-status-icon1.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  margin-right: 5px;
  margin-top: 2px;
}
.ep-preflight-report-icon2 {
  width: 14px;
  height: 14px;
  background: url("../../../../../assets/images/seller/preflight-report-status-icon2.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  margin-right: 5px;
  margin-top: 2px;
}
.ep-preflight-report-icon3 {
  width: 14px;
  height: 14px;
  background: url("../../../../../assets/images/seller/preflight-report-status-icon3.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  margin-right: 5px;
  margin-top: 2px;
}
